@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Poppins:wght@400;500;600;700&family=Trispace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Snippet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended&display=swap');



@font-face {
    font-family: "Monaco";
    src: url("fonts/monaco-webfont.woff2") format("woff2"),

}

* {
    font-family: 'Courier Prime', monospace;
    color:#D6D6D6;
    
    
}

body {
    background-color: #f6f9fc;
    background-color: #46324B;
    background-color: #302334;
    background-color: #291E2C;
    /* background-color: #1D1D28; */
}

nav{
    box-shadow: none
}

.brand-logo{
    font-family: 'Libre Barcode 39 Extended', cursive;
}

.hero-section{
    margin-top: 4rem;
    /* margin-bottom: 4rem; */
}

.hero-title {
    /* font-family: 'Monaco'; */
    font-size: 4.5em;
    color:#90a4ae;
    color: #68516E;
    color:#B29EB7;
    color: white;
    color:#d3d6db;
    color:#D6D6D6;
    /* color: #B4B4BE;
    color:#9B9193; */
    /* color: #E7ECEF; */

    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Trispace', sans-serif; */
}

.hero-description{
    color:#90a4ae
}

.terminal {
    font-family: "Source Code Pro", Monaco, "Courier New", monospace;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    position: relative;
    /* margin: 0 auto; */
    color: #ffffffbd;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility
}

@media screen and (min-width:30rem) {
    .terminal {
        font-size: 1.25rem;
        line-height: 2rem
    }
}

@media screen and (min-width:60.5rem) {
    .terminal {
        max-width: 60.5rem
    }
}

.terminal__task-bar {
    height: 2rem;
    padding-left: .5rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    background-color: #efefef
}

@media screen and (max-width:30rem) {
    .terminal__task-bar {
        padding-top: .5rem
    }
}

.terminal__window {
    height: 24.5rem;
    padding: 1.5rem;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    /* background-color: #46324B */
    background-color: #46324B;
    background-color: #3a3246;
}

.terminal__window--highlight {
    color: #FCD080
}

.terminal__circle {
    position: relative;
    display: inline-block;
    width: .75rem;
    height: .75rem;
    margin-right: -.1875rem;
    border-radius: 50%
}

.terminal__circle--red {
    background-color: #eb7699
}

.terminal__circle--yellow {
    background-color: #dabb73
}

.terminal__circle--green {
    background-color: #81c287
}

.terminal__prompt--checkout,
.terminal__prompt--mail,
.terminal__prompt--show-contact
.terminal__prompt--show-skills {
    opacity: 0
}

.terminal__prompt--checkout {
    animation: show-checkout 16s infinite
}

.terminal__prompt--show-contact {
    animation: show-show-contact 16s infinite
}


.terminal__prompt--mail {
    animation: show-mail 16s infinite
}

/* .terminal__prompt--show-skills {
    animation: show-skills 16s infinite
} */

.terminal__prompt--skills {
    animation: show-skills 16s infinite
}


.terminal__prompt--typing {
    position: relative
}

.terminal__prompt--typing .cover {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    background: #424242;
    border-left: 1px solid #fff
}

.terminal__prompt--typing .cover--gimme-dev {
    animation: typing-gimme-dev 16s steps(19, end) infinite
}

.terminal__prompt--typing .cover--show-contact {
    animation: typing-show-contact 16s steps(19, end) infinite
}

.terminal__prompt--typing .cover--show-skills {
    animation: typing-show-skills 16s steps(19, end) infinite
}


@keyframes typing-gimme-dev {
    0% {
        width: 100%;
        opacity: 1
    }

    12% {
        width: 0
    }

    15% {
        opacity: 1
    }

    16% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@keyframes typing-show-contact {

    0%,
    35% {
        width: 100%
    }

    100%,
    47% {
        width: 0
    }

    48% {
        opacity: 1
    }

    49% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@keyframes typing-show-skills {

    0%,
    55% {
        width: 100%
    }

    100%,
    69% {
        width: 0
    }

    80% {
        opacity: 1
    }

    81% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@keyframes show-checkout {

    0%,
    20% {
        opacity: 0
    }

    100%,
    25% {
        opacity: 1
    }
}

@keyframes show-mail {

    0%,
    55% {
        opacity: 0
    }

    100%,
    60% {
        opacity: 1
    }
}

@keyframes show-skills {

    0%,
    80% {
        opacity: 0
    }

    100%,
    85% {
        opacity: 1
    }
}

@keyframes show-uploaded {

    0%,
    63% {
        opacity: 0
    }

    100%,
    68% {
        opacity: 1
    }
}

@keyframes show-show-contact {

    0%,
    28% {
        opacity: 0
    }

    100%,
    32% {
        opacity: 1
    }
}

/* body {
    background: #383838
} */

a {
    text-decoration: none;
    color: inherit
}

a:active,
a:focus,
a:hover {
    color: #0091eb;
    text-decoration: underline
}

.projects-section{
    margin-top: 4rem;
}

.section-title{
    font-size: 2.5rem;
}

/* .badge{
    padding:.25rem !important;
} */

.action{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tech{
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
}

.tech-tag{
    background-color: #46324B;
    color: white;
    padding:.4rem 1rem .4rem 1rem;
    margin:.1rem
}

.img-p2{
    width: 600px !important;
  height: 500px !important;
    object-fit:fill;
}

svg{
    color: white !important;
}